{% load static %}



    <div id="body-wrapper">
        <div id="body" class="container relative">
            <section id="content">
                <div id="hero">
                    <div class="row">
                        <div id="hero1" class="hidden-xs hidden-sm col-md-12 col-lg-12">
                            <div id="hero2">
                                <div id="heroimg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <div class="row new">
                        <div class="col-xs-12 col-sm-2">
                            <div class="secthd mt1-5"><i class="ss-icon ss-standard">Utility</i></div>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <div class="view view-home view-id-home view-display-id-page_1 view-dom-id-1">
                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">
                                        <div class="screens-thumbs-index thumb-1">
                                            <div class="thumb">
                                                <a href="/tools/balsamiq-ux-template"><img src="http://media.konigi.com/tools/thumbs/balsamiq-uxtemplate.png"/></a><br/><div class="indexlink"><a href="/tools/balsamiq-ux-template" rel="bookmark" title="Permanent Link to Balsamiq UX Template">Balsamiq UX Template</a><div class="nodetype"><a href="/tools/overview" class="type">In Tools</a></div></div> </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">
                                        <div class="screens-thumbs-index thumb-2">
                                            <div class="thumb">
                                                <a href="/notebook/what-if-dj-controllers-had-built-screens"><img id='bluga-thumbnail-2881' class='bluga-thumbnail medium2' src='http://konigi.com/files/konigi/bluga/wt53cda276915a2_medium2.jpg'/></a><div class="indexlink"><a href="/notebook/what-if-dj-controllers-had-built-screens" rel="bookmark">What If DJ Controllers Had Built In Screens?</a><div class="nodetype"><a href="/notebook/latest" class="type">In Notebook</a></div></div> </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">
                                        <div class="screens-thumbs-index thumb-3">
                                            <div class="thumb">
                                                <div class="indexlink-big"><a href="/notebook/experimenting-ipevo-interactive-whiteboard" rel="bookmark">Experimenting with the IPEVO Interactive Whiteboard</a><div class="nodetype"><a href="/notebook/latest" class="type">In Notebook</a></div></div> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-2">
                            <div class="secthd mt1-5"><i class="ss-icon ss-standard">Design</i></div>
                        </div>

                        <div class="col-xs-12 col-sm-10">
                            <div class="view view-home view-id-home view-display-id-page_1 view-dom-id-1">
                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">
                                        <div class="screens-thumbs-index thumb-1">
                                            <div class="thumb">
                                                <a href="/tools/balsamiq-ux-template"><img src="http://media.konigi.com/tools/thumbs/balsamiq-uxtemplate.png"/></a><br/><div class="indexlink"><a href="/tools/balsamiq-ux-template" rel="bookmark" title="Permanent Link to Balsamiq UX Template">Balsamiq UX Template</a><div class="nodetype"><a href="/tools/overview" class="type">In Tools</a></div></div> </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">
                                        <div class="screens-thumbs-index thumb-2">
                                            <div class="thumb">
                                                <a href="/notebook/what-if-dj-controllers-had-built-screens"><img id='bluga-thumbnail-2881' class='bluga-thumbnail medium2' src='http://konigi.com/files/konigi/bluga/wt53cda276915a2_medium2.jpg'/></a><div class="indexlink"><a href="/notebook/what-if-dj-controllers-had-built-screens" rel="bookmark">What If DJ Controllers Had Built In Screens?</a><div class="nodetype"><a href="/notebook/latest" class="type">In Notebook</a></div></div> </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">
                                        <div class="screens-thumbs-index thumb-3">
                                            <div class="thumb">
                                                <div class="indexlink-big"><a href="/notebook/experimenting-ipevo-interactive-whiteboard" rel="bookmark">Experimenting with the IPEVO Interactive Whiteboard</a><div class="nodetype"><a href="/notebook/latest" class="type">In Notebook</a></div></div> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row about mt1-5">
                            <div class="col-xs-12 col-sm-2">
                                <div class="secthd"><i class="ss-icon ss-standard">info</i> About</div>
                            </div>
                            <div class="col-xs-12 col-sm-10">
                                <p class="tagline">Tools for Ideation</p>
                                <p class="description">Konigi shares news, resources and tools for interface designers.</p>
                            </div>
                        </div>
                        <div class="row gear">
                            <div class="col-xs-12 col-sm-2">
                                <div class="secthd"></div>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <p><strong>The <a href="/tools">Tools</a> section and <a href="/store">Store</a></strong> are where you'll find OmniGraffle <a href="/tools/omnigraffle-wireframe-stencils">Wireframe Stencil</a>, <a href="http://konigi.com/store/product/wireframe-icons-omnigraffle">Icons</a>, and <a href="/tools/omnigraffle-ux-template">UX Template</a>, <a href="/store/product/wireframe-icons-axure">Axure Icons</a>, <a href="/tools/graph-paper">Printable Graph Paper</a> and a <a href="/tools/sketchbooks-diy">DIY Sketchbook Tutorial</a>.</p>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <p><strong><a href="/wiki">The Wiki</a></strong> is the place to find resources like my listing of <a href="/wiki/Conferences_and_Events">Conferences and Events</a>, <a href="/wiki/Jobs">Job Sites</a>, <a href="/wiki/Discussion_Groups">Discussion Groups</a>, and <a href="/book/sketch-book">The Sketch Book</a>, my presentation on UI sketching.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <script type="text/javascript">
                $(document).ready(function() {
                    var myHero = new Array();
                    myHero[0] = "map";
                    myHero[1] = "code";
                    myHero[2] = "design";
                    myHero[3] = "screens";
                    // bk: discovery, code, design
                    var myRandom = Math.floor(Math.random()*myHero.length);
                    var myRandomHero = myHero[myRandom];
                    var myHero = "<img src='http://media.konigi.com/img/hero/"+myRandomHero+".svg' class='img-responsive'>";
                    $('#heroimg').html(myHero);
                });
            </script>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'assets/js/konogi.js' %}"></script>
    <script type="text/javascript">
        <!--//--><![CDATA[//><!--
        jQuery.extend(Drupal.settings, { "googleCSE": { "language": "en" } });
        //--><!]]>
    </script>
</div>
<hr>

<div id="footer-wrapper">
    <div class="container">
        <div id="footer" class="row">
            <div id="ft0" class="hidden-xs col-sm-2 col-md-2">
                <div class="secthd">
                    <p><a href="#" onclick="$('#wrapper').addClass('unicorns');$('body').addClass('unibg');"><i class="ss-icon ss-standard">love</i></a> <a href="/page/respect">Thanks</a></p>
                </div>
            </div>
            <div id="ft1" class="col-xs-12 col-sm-8 col-md-8">
                <p>
                    Konigi is published by <a href="http://about.me/michaelangeles">Michael Angeles</a>.
                    Screenshots &copy; their respective owners.
                </p>
            </div>
            <div id="ft2" class="col-xs-12 col-sm-2 col-md-2">

                <span id="ftrss"><a href="http://feeds2.feedburner.com/konigi"><i class="ss-icon ss-social">rss</i></a></span>
                <span id="ftmail"><a href="/contact"><i class="ss-icon ss-social">mail</i></a></span>
                <span id="fttwitter"><a href="http://twitter.com/konigi"><i class="ss-icon ss-social">twitter</i></a></span>
            </div>
        </div> </div>
</div>
<script src="{% static 'static/js/konogi.js' %}"></script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
    _uacct = "UA-308563-3";
    urchinTracker();
</script>
</body>
</html>